<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>op123</display-name>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>servy</display-name>
    <servlet-name>servy</servlet-name>
    <servlet-class>com.java.servy</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servy</servlet-name>
    <url-pattern>/servy</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>letty</display-name>
    <servlet-name>letty</servlet-name>
    <servlet-class>com.java.letty</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>letty</servlet-name>
    <url-pattern>/letty</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.java.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>PrescriptionServlet</servlet-name>
    <servlet-class>com.servlet.PrescriptionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PrescriptionServlet</servlet-name>
    <url-pattern>/PrescriptionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <servlet-name>BillingServlet</servlet-name>
    <servlet-class>com.servlet.BillingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BillingServlet</servlet-name>
    <url-pattern>/BillingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Symptomreport</display-name>
    <servlet-name>Symptomreport</servlet-name>
    <servlet-class>com.servlet.Symptomreport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Symptomreport</servlet-name>
    <url-pattern>/Symptomreport</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PIDreport</display-name>
    <servlet-name>PIDreport</servlet-name>
    <servlet-class>com.servlet.PIDreport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PIDreport</servlet-name>
    <url-pattern>/PIDreport</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VisitsReport</display-name>
    <servlet-name>VisitsReport</servlet-name>
    <servlet-class>com.servlet.VisitsReport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VisitsReport</servlet-name>
    <url-pattern>/VisitsReport</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BillsReport</display-name>
    <servlet-name>BillsReport</servlet-name>
    <servlet-class>com.servlet.BillsReport</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BillsReport</servlet-name>
    <url-pattern>/BillsReport</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SympServlet</display-name>
    <servlet-name>SympServlet</servlet-name>
    <servlet-class>com.servlet.SympServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SympServlet</servlet-name>
    <url-pattern>/SympServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VisitServlet</display-name>
    <servlet-name>VisitServlet</servlet-name>
    <servlet-class>com.servlet.VisitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VisitServlet</servlet-name>
    <url-pattern>/VisitServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DiagServlet</display-name>
    <servlet-name>DiagServlet</servlet-name>
    <servlet-class>com.servlet.DiagServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DiagServlet</servlet-name>
    <url-pattern>/DiagServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Patientinformation</display-name>
    <servlet-name>Patientinformation</servlet-name>
    <servlet-class>com.servlet.Patientinformation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Patientinformation</servlet-name>
    <url-pattern>/Patientinformation</url-pattern>
  </servlet-mapping>
</web-app>